//---------------------------
//      PATRON DE COLORES
//---------------------------

$principal:#ff401c;

$text:#44484a;

/*---------------------------------------
Sobreescribiendo los estilos de bootstrap
---------------------------------------*/
.bg-primary {
    background-color:$principal !important;
}
.text-primary {
    color: $principal !important;
}
.btn-primary {
    
    background-color: $principal !important;
    border-color: darken($principal,20%) !important;
}
.btn-primary:hover,
.btn-primary:focus
 {
    background-color: darken($principal,10%) !important; 
    
}
.btn-primary:active
 {
    background-color: darken($principal,20%) !important; 
    border-color: darken($principal,30%) !important;
}
.btn-primary:focus
 {
    box-shadow: 0 0 0 0.2rem rgba($principal,.5) !important;
    
}


//? Esto es una forma de oscurecer colores propias de sass border-color: darken($principal,40%) !important;
//? este sirve para transparencias de un color box-shadow: 0 0 0 0.2rem rgba($principal,.5) !important;

/*---------------
ESTILOS DEL DISEÑO
---------------*/
html{
    font-size:13px ;
}
body{
    color:$text;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.card {
    /* Tamaño original de la tarjeta */
  
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Sombra tenue */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    transform: scale(1.05);
  /* Sombra más pronunciada */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }

 /*---------------
SHOW DE LOS MEDIAS QUERIES
---------------*/
@media (min-width: 768px){
    html{
        font-size: 16px;
    }
}

